.container {
  /* background-color: rgb(31, 31, 31); */
  padding: 1rem;
  border: solid;
  border-radius: 10px;
  border-color: blueviolet;
  /* background-color: white; */
  margin: 2rem auto;
  width: 50rem;
  max-width: 95%;
}
